* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,contact{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.contact {
  background-image: url('https://img.freepik.com/free-photo/multicolored-paper-background_23-2148182446.jpg?size=626&ext=jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:cyan;
  font-size: 58px;
  justify-content: center;
  align-items: center;
  padding-left: 31vh;
  padding-top: 8vh;
  width: 100%;
  height: 700px;
} 

.contact a{
  font-size: 40px;
  
}
.git{
  padding-left: 5vh;
}
.contact h4{
  padding-top: 10vh;
  color: #7f53ac


}


